.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.cart-detail{
    padding: 1em ;
    margin-bottom: 1em;
    background-color: rgba(86, 233, 238, 0.096);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 30px;
    overflow: hidden;
}

.cart-detail > li{
    list-style: none;
}

.cart-item > img{
    border-radius:30px
}

.cart-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.finish-buy-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
}

.finish-buy-container > h2{
    font-weight: 500;
}

.button-delete{
    background-color: rgb(255, 100, 100);
    color: rgb(30, 31, 31);
    margin: 10px 0 0 0;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
    text-decoration: none;
    margin-bottom: 1.3em;
    margin-top: 0.8em;
    transition: 0.15s ease-in;
    cursor: pointer;
}

.button-delete:hover{
    background-color: rgb(54, 54, 54);
    color: rgb(255, 100, 100);
    border: 1.1px solid rgb(189, 189, 189);
}

.trash-icon{
    font-size: 1.5em;
}

.empty-cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40vh;
    gap: 1em;
}

.button-cart{
    color: rgb(30, 31, 31);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
    text-decoration: none;
    transition: 0.15s ease-in;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
}

.button-cart:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 200, 116);
    border: 1.1px solid rgb(255, 200, 116);
}

.finish{
    background-color: rgb(94, 201, 117);
}

.finish:hover{
    color: rgb(94, 201, 117);
    border: 1.1px solid rgb(94, 201, 117);
    border-radius: 5px;
}

.delete{
    background-color: rgb(255, 100, 100);
}

.delete:hover{
    color: rgb(255, 100, 100);
    border: 1.1px solid rgb(255, 100, 100);
    border-radius: 5px;
}
