.checkout-container{
    padding: 1vh;
}
.checkout-container > h1{
    margin-top: 0.6em;
    padding: 10px;
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
}

.form-container > input{
    width: 25em;
    margin: 0.1em;
    padding: 0.5em;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 10px;
}

.form-container > button{
    margin-top: 0.5em;
    padding: 10px;
}

.success-checkout-container{
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.order-button{
    background-color: rgb(255, 200, 116);
    color: rgb(30, 31, 31);
    margin: 10px 0 0 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
    text-decoration: none;
    margin-bottom: 1.3em;
    margin-top: 0.8em;
    transition: 0.15s ease-in;
    cursor: pointer;
    font-size: 0.9em;
}

.order-button:hover{
    background-color: rgb(19, 19, 19);
    color: rgb(255, 200, 116);
    border: 1.1px solid rgb(255, 200, 116);
}

.checkout-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    
}
